extends layout

block content
 h1= title
 if(toshow == null)
    h2 no instance to create 
 else
 form(id='NotebookForm' action="/resource/notebook" method="POST")
  div.form-group
      label.notebookAttr(for='noteBookName') notebook Name
      input#noteBookName(type='text' name='noteBookName')
  div.form-group
      label.notebookAttr(for='noteBookPages') notebook Type
      input#noteBookPages(type='text' name='noteBookPages')
  div.form-group
      label.notebookAttr(for='noteBookCost') notebook Cost
      input#cost(type='number' name='noteBookCost')
      input(type="submit")
      script.
        document.forms['NotebookForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        window.location.href='/notebook'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
        alert("Save failed " + error )
        });
        });
