extends layout
block content
    h1= title
    - let noteBookName = toShow.noteBookName
    - let noteBookPages = toShow.noteBookPages
    - let noteBookCost = toShow.noteBookCost
        div
            div.row(id="notebookAttr")
                div(class="notebookAttr mr-3") notebook Name is:
                div #{noteBookName}
            div.row
                div(class="notebookAttr mr-3") notebook Type is:
                div #{noteBookPages}
            div.row
                div(class="notebookAttr mr-3") notebook Cost is:
                div #{noteBookCost}