extends layout

block content
  h1= title
  -let results =["ab.jpg","bb.jpg","duke.jpg","kwaski.jpg","xl.jpg"]
  -for(let i=0;i<3; i++) {
    -let rand = Math.floor(Math.random()*5)
    img(src=`images/${results[rand]}`,height="300px",width="300px")
  -}