body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.notebookAttr{
  background-color: brown;
  color:aquamarine;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}
input{
  color: darkblue;
  background-color:grey;
  font-size: larger;
  font-weight: bolder;
}